snippet println "System.out.println" b
	System.out.println(${1});${0}

snippet printf "System.out.printf" b
	System.out.printf(${1});${0}

snippet print "System.out.print" b
	System.out.print(${1});${0}

snippet errln "System.err.println" b
	System.err.println(${1});${0}

